[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest-mock = "*"
requests = "*"
requests-cache = "*"

[dev-packages]
pytest = "*"
pytest-mock = "*"
requests-mock = "*"

[requires]
python_version = "3.8"
